* {
    box-sizing: border-box;
  }
body {
    background: fffffff
}
h3 {
    color:blueviolet
}
h3 {
    display: flex
    flex-direction: column 
    align-items: center
    justify-content: flex-start 
  }